<!doctype html>
<head>
	<title> Daily List </title>
       
		
</head> 
<body style="background-color:#E8E8E8;padding:3px">

<table  bordercolor="#E8E8E8" style="background-color:#FFFFFF;padding:3px; border:4px solid #E8E8E8;" width="528"  >
	<tr>
		<td rowspan="2"> <img src="http://i1343.photobucket.com/albums/o790/ashalaura/reb2_zpsf2939269.jpg"> </td>
		<td width="403"> <h2>Rebecca's Daily List</h2></td>
	<tr>
		<td width="403">Today's Date </td> 		
	</tr>

</table>

<table  style="background-color:#FFFFFF; border:1px solid #E8E8E8;border-collapse:collapse;" width="528" >
<tr>
	<td valign="top" width = "35%" style="border:4px solid #E8E8E8;padding:3px;"> 
		<img src="http://i1343.photobucket.com/albums/o790/ashalaura/Announcements_zpsd6af3034.png" width="50%">
		<br> {{ form['ann'] }} 
		<br>
		<img src="http://i1343.photobucket.com/albums/o790/ashalaura/News_zps5abdbfb5.png" width="50%">
		<br> {{ form['news'] }} 
		<br>
	</td> 

	<td valign="top" width = "65%" style="border:4px solid #E8E8E8;padding:6px;">
	<strong> Youth Radio </strong> 
	<BR> {{ form['yr'] }} 
	<br>
	<br> <strong> All Day Play </strong> 
	<br> {{ form['adp'] }}
	<br>
	<br> <strong> Turnstyle </strong> 
	<br> {{ form['tn'] }} 
	<br>
	<br> <strong> Social Media </strong> 
		<br> {{ form['sm'] }} 

	 </td>
</tr>

 
<tr>
<table bordercolor="#E8E8E8" style="background-color:#FFFFFF;padding:4px;border:4px solid #E8E8E8;" width="528">
	 <tr> <td> <strong>In Production</strong> </td> </tr>
	<tr>
		<td> Name </td>
		<td> Due </td>
		<td> Status </td>
		<td> Outlet </td> 
	</tr>
	<tr> 
	 <td> {{ form['story'] }}</td>
	 <td> {{ form['date'] }}</td>
	 <td> {{ form['staff'] }}</td>
	 <td> {{ form['outlets'] }}</td>
	</tr>
</table> 
	</tr>

</table> 
</table>

</body>

</html>




