<!doctype html>
<html>
<head>
<title>Rebecca's Daily List</title>

<style type="text/css">
#long input{
border:solid 1px #aacfe4;
width:486px;
height: 50px;}

strong{
    color:#3399FF;}
    
h1 {
    text-align:center;}
    
body { 
width:500px;
padding:10px;
border:5px solid gray;
margin:10px;}

      
</style type>
</head>
<body>
<h1>Rebecca's Daily List </h1>

<div id="blue">
<strong>In the News</strong></div>

<form action="/submit" method="post">
   <input type="text" name="news" style="width:436;border:solid 1px #aacfe4; " /> <input type="button" value="add"/>

 <p> </p>  
<strong>Announcements and Staffing</strong>
  <div id="long"> 
  <textarea rows="3" cols="58" name="ann"></textarea>
      
  </div>
    <p> </p>   
        
<strong>YouthRadio.org </strong>
       <div id="long"> 
         <textarea rows="3" cols="58" name="yr"></textarea>
       </div>
 <p> </p>  
<strong>Turnstyle News</strong>
          <div id="long">
        <textarea rows="3" cols="58" name="tn"></textarea> 
          </div>
 <p> </p>  
<strong>All Day Play</strong>
Today's shows:
        <div id="long">
        <textarea rows="2" cols="58" name="adp"> </textarea>
 </div>
 <p> </p>  
 
<strong>FB & Twitter</strong>
          <div id="long">
        <textarea rows="3" cols="58" name="SM"></textarea>

              
          </div>

<strong>Assignments</strong>
        <input type="text" name="story" placeholder="Slug"/>
          <input type="text" name="date" placeholder="Due" />
        <select name="staff">
            <option value="staff">Staff</option>
            <option value="Asha">Asha</option>
            <option value="Lisa" >Lissa</option>
            <option value="Brett">Brett</option>
            <option value="Sayre">Sayre</option>
      </select>
        
        
        <select name="outlets">
            <option value="outlets">Outlets</option>
            <option value="NPR">NPR</option>
            <option value="KQUD" >KQUED</option>
            <option value="Huffington Post">HuffPo</option>
            <option value="National Geographic"> NatGeo</option>
        </select>
        <input type="button" value="add"/>
<p></p>
    <input type="submit" value="Send to News Room">
</form>
    
</div>    
</body>

</html>
