<html>
<head>
<title>Message Sent: Rebecca's Daily List</title>

<style type="text/css">
p { 
font-weight:bold;
  color:#3399FF;}

    
h1,h2 {
    text-align:center;}
    
body { 
width:500px;
padding:10px;
border:5px solid gray;
margin:10px;}

</style> 

</head>

<body> 
<h1> Rebecca's Daily List </h1> 
<p> In The News News</p> {{ request.form['news'] }} 

<p> Announcements </p> {{ request.form['ann'] }}  
<p> Youth Radio </p> {{ request.form['yr'] }} 

<p> Turnstyle News </p>  {{ request.form['tn'] }}
<p> ADP </p> {{ request.form['adp'] }}
<p> Social Media- Facebook Twitter:</p> {{ request.form['sm'] }}

<p> IN PRODUCTION</p>
<table>
	<tr>
		<td> Slug</td>
		<td> Due </td>
		<td> Assigned </td>
		<td> Outlet</td>
	</tr>

	<tr> 
	 <td> {{ request.form['story'] }}</td>
	 <td> {{ request.form['date'] }}</td>
	 <td> {{ request.form['staff'] }}</td>
	 <td> {{ request.form['outlets'] }}</td>
	</tr>
</table> 

		


</body>

</html>